In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/court-data/judges_clean/judges_clean.csv
/kaggle/input/court-data/acts_sections/acts_sections.csv
/kaggle/input/court-data/cases/cases/cases_2015.csv
/kaggle/input/court-data/cases/cases/cases_2012.csv
/kaggle/input/court-data/cases/cases/cases_2018.csv
/kaggle/input/court-data/cases/cases/cases_2013.csv
/kaggle/input/court-data/cases/cases/cases_2017.csv
/kaggle/input/court-data/cases/cases/cases_2010.csv
/kaggle/input/court-data/cases/cases/cases_2014.csv
/kaggle/input/court-data/cases/cases/cases_2016.csv
/kaggle/input/court-data/cases/cases/cases_2011.csv
/kaggle/input/court-data/keys/keys/type_name_key.csv
/kaggle/input/court-data/keys/keys/cases_district_key.csv
/kaggle/input/court-data/keys/keys/act_key.csv
/kaggle/input/court-data/keys/keys/disp_name_key.csv
/kaggle/input/court-data/keys/keys/purpose_name_key.csv
/kaggle/input/court-data/keys/keys/cases_state_key.csv
/kaggle/input/court-data/keys/keys/section_key.csv
/kaggle/input/court-data/keys/keys/cases_court_key.csv
/kaggle/input/court-data/keys/keys/judge_case_merge_key.csv

In [2]:
#Solve DtypeWarning: Columns (X,X) have mixed types. Specify dtype option on import or set low_memory=False in Pandas
acts_sections = pd.read_csv("/kaggle/input/court-data/acts_sections/acts_sections.csv", low_memory=False)
acts_sections.head(10)

,ddl_case_id,act,section,bailable_ipc,number_sections_ipc,criminal
0,06-03-02-210100004042014,17353.0,NaN,NaN,1.0,1
1,23-34-01-229900001012019,4759.0,NaN,NaN,NaN,1
2,13-18-03-204000030972016,17353.0,NaN,NaN,1.0,1
3,23-28-01-220102000232016,4759.0,NaN,NaN,NaN,1
4,01-35-05-203007002652012,17353.0,NaN,NaN,1.0,1
5,11-07-05-217800001262020,4759.0,NaN,NaN,NaN,1
6,03-20-02-201200220682017,4759.0,NaN,NaN,NaN,1
7,16-09-07-201600062352015,17353.0,NaN,NaN,1.0,1
8,04-10-01-202301001952013,17353.0,NaN,NaN,1.0,1
9,08-11-01-215200008432018,17353.0,NaN,NaN,1.0,1

In [3]:
act_keys = pd.read_csv("/kaggle/input/court-data/keys/keys/act_key.csv")
act_keys.head(10)

                                               act_s    count  act
0                                                NaN  11282.0  NaN
1                                                  '  11160.0  1.0
2                                                 ''  20887.0  2.0
3                        'Tamil Nadu City Police Act    371.0  3.0
4                   (BOMBAY) NATIONAL PARK ACT, 1950      2.0  4.0
5  (Bihar) Narcotic Drugs and Psychotropic Substa...   2594.0  5.0
6         (Care and Protection of Children) Act-2000     93.0  6.0
7        (Care and Protection of Children) Act-2000\    295.0  7.0
8           (Indian) Lunacy (M.P.Amendment) Act 1952      3.0  8.0
9                (Non-Trading) Companies Act (Bihar)  61278.0  9.0

In [4]:
act_keys.drop(columns=['count'], inplace=True)

In [5]:
acts_sections = pd.merge(acts_sections, act_keys, how='left', on='act')
acts_sections.head(10)

,ddl_case_id,act,section,bailable_ipc,number_sections_ipc,criminal,act_s
0,06-03-02-210100004042014,17353.0,NaN,NaN,1.0,1,The Indian Penal Code
1,23-34-01-229900001012019,4759.0,NaN,NaN,NaN,1,Code of Criminal Procedure
2,13-18-03-204000030972016,17353.0,NaN,NaN,1.0,1,The Indian Penal Code
3,23-28-01-220102000232016,4759.0,NaN,NaN,NaN,1,Code of Criminal Procedure
4,01-35-05-203007002652012,17353.0,NaN,NaN,1.0,1,The Indian Penal Code
5,11-07-05-217800001262020,4759.0,NaN,NaN,NaN,1,Code of Criminal Procedure
6,03-20-02-201200220682017,4759.0,NaN,NaN,NaN,1,Code of Criminal Procedure
7,16-09-07-201600062352015,17353.0,NaN,NaN,1.0,1,The Indian Penal Code
8,04-10-01-202301001952013,17353.0,NaN,NaN,1.0,1,The Indian Penal Code
9,08-11-01-215200008432018,17353.0,NaN,NaN,1.0,1,The Indian Penal Code

In [6]:
section_keys = pd.read_csv("/kaggle/input/court-data/keys/keys/section_key.csv")
section_keys.head(10)

                    section_s    count  section
0                         NaN  4834909      NaN
1  !#11bofHindumarriageAt1955        1      1.0
2                      !3 (B)        1      2.0
3                  !3(1)(i-a)        1      3.0
4                       !3(3)        1      4.0
5                    !3A,3,67        1      5.0
6                         !3B        1      6.0
7             !44,159 R. Act.        1      7.0
8      !47,148,149,336,427Rpc        1      8.0
9                      !5 (c)        1      9.0

In [7]:
section_keys.drop(columns=['count'], inplace=True)

In [8]:
acts_sections = pd.merge(acts_sections, section_keys, how='left', on='section')
acts_sections.head(10)

,ddl_case_id,act,section,bailable_ipc,number_sections_ipc,criminal,act_s,section_s
0,06-03-02-210100004042014,17353.0,NaN,NaN,1.0,1,The Indian Penal Code,NaN
1,23-34-01-229900001012019,4759.0,NaN,NaN,NaN,1,Code of Criminal Procedure,NaN
2,13-18-03-204000030972016,17353.0,NaN,NaN,1.0,1,The Indian Penal Code,NaN
3,23-28-01-220102000232016,4759.0,NaN,NaN,NaN,1,Code of Criminal Procedure,NaN
4,01-35-05-203007002652012,17353.0,NaN,NaN,1.0,1,The Indian Penal Code,NaN
5,11-07-05-217800001262020,4759.0,NaN,NaN,NaN,1,Code of Criminal Procedure,NaN
6,03-20-02-201200220682017,4759.0,NaN,NaN,NaN,1,Code of Criminal Procedure,NaN
7,16-09-07-201600062352015,17353.0,NaN,NaN,1.0,1,The Indian Penal Code,NaN
8,04-10-01-202301001952013,17353.0,NaN,NaN,1.0,1,The Indian Penal Code,NaN
9,08-11-01-215200008432018,17353.0,NaN,NaN,1.0,1,The Indian Penal Code,NaN

In [9]:
acts_sections.to_csv("/kaggle/working/acts_sections_merged.csv", index=False)